<main>
    <div class="title-box">
        <h2>GA DC WDI</h2>
        <h2>Lessons Feedback</h2>
    </div>
    <div class="list-box">
        <% if !current_user %>
            <% @events.each do |event| %>
                <div class="lesson-listing">
                    <h4 class="title">
                        <%= event.name %> <span class="small-title"><%= event.date %><span>
                    </h4>
                    <p class="icon surveyLink">
                        <%= link_to "Survey", new_event_response_path(event) %>
                    </p>
                </div>
            <% end %>
        <% else %>
            <div class="new-lesson-box">
                <div id="newLesson">
                    <%= image_tag("new-lesson.png") %>
                    Add New Lesson
                </div>
            </div>
            <div id="newLessonForm" class="showLessonForm">
                <!-- this is a form to create @Lesson.new -->
                <%= form_for @lesson do |f| %>
                    <p class="edit-form">
                        <%= f.label :name %>
                        <%= f.text_field :name %>
                    </p>
                    <p class="edit-date-form">
                        <%= f.label :date %>
                        <%= f.text_field :date %>
                    </p>
                    <%= f.submit "Create Form" %>
                    <div type="button" name="button" class="hideForm">Cancel</div>
                <% end %>
            </div>
            <% @events.each do |event| %>
                <div class="lesson-listing">
                    <div class="resultsIcon">
                        <%= link_to image_tag("stats.png"), event_path(event) %>
                        <%= link_to "See Results", event_path(event) %>
                    </div>
                    <h4 class="title">
                        <%= event.name %> <span class="small-title"><%= event.date %><span>
                    </h4>
                    <p class="icon surveyLink">
                        <%= link_to "Survey", new_event_response_path(event) %>
                    </p>
                    <div class="copy icon surveyLink">Copy to clipboard
                        <div class="hidden-link">Please take 1 minute to offer feedback on the <%= event.name %> lesson: https://ga-anonymizer.herokuapp.com<%= new_event_response_path(event) %></div>
                    </div>
                    <div class="icon editForm"> Edit</div>
                    <div class="showLessonForm">
                        <!-- this is a form to update the existing lesson -->
                        <%= form_for event do |f| %>
                            <p class="edit-form">
                                <%= f.label :name %>
                                <%= f.text_field :name %>
                            </p>
                            <p class="edit-date-form">
                                <%= f.label :date %>
                                <%= f.text_field :date %>
                            </p>
                            <%= f.submit "Update" %>
                            <div type="button" name="button" class="hideForm">Cancel</div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</main>
