<h2>GA WDI Lesson Feedback</h2>

<h3 id="newLesson">(+) Add new lesson</h3>

<div id="newLessonForm">
    <!-- this is a form to create @Lesson.new -->
    <%= form_for @lesson do |f| %>
        <p>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </p>
        <p>
            <%= f.label :date %>
            <%= f.text_field :date %>
        </p>
        <%# f.hidden_field :user_id, :value => @user.id %>
        <p>
            <%= f.submit "Create Feedback Form" %>
        </p>
    <% end %>
    <button type="button" name="button" class="hideForm">Cancel</button>
</div>

<% @events.each do |event| %>
    <div class="lesson-listing">
        <h4 class="eventTitle">
            <%= link_to event.name, event_path(event)%>
        </h4>
        <p>
            <%= link_to "Get survey link", new_event_response_path(event) %>
        </p>
        <div class="icon editForm"> Edit
            <div class="showLessonForm">
                <!-- this is a form to update the existing lesson (event) -->
                <%= form_for event do |f| %>
                    <p>
                        <%= f.label :name %>
                        <%= f.text_field :name %>
                    </p>
                    <p>
                        <%= f.label :date %>
                        <%= f.text_field :date %>
                    </p>
                    <%# f.hidden_field :user_id, :value => @user.id %>
                    <p>
                        <%= f.submit "Update Feedback Form" %>
                    </p>
                <% end %>
                <button type="button" name="button" class="hideForm">Cancel</button>
            </div>
        </div>
        <div class="icon resultsIcon">
            <%= link_to "See Results", event_path(event) %>
        </div>
    </div>
<% end %>
