
<h2>GA WDI <%=@event.name %> Lesson Feedback</h2>
<div class="button-wrapper">
    <div class="button-holder">
        <button type="button" class="graph-button pie">Pie Graph</button>
    </div>
    <div class="button-holder">
        <button type="button" class="graph-button column">Column Graph</button>
    </div>
</div>
<div class="box">
    <h3 class="graph-title">Comfort</h3>

    <div class="graph pie">
      <%= pie_chart @responses.group(:comfort_score).count %>
    </div>
    <div class="graph column">
      <%= column_chart @responses.group(:comfort_score).count %>
    </div>
</div>

<div class="box">
    <h3 class="graph-title">Completeness</h3>

    <div class="graph pie">
      <%= pie_chart @responses.group(:completeness_score).count %>
    </div>
    <div class="graph column">
      <%= column_chart @responses.group(:completeness_score).count %>
    </div>

</div>


<button id="showComments"><h4>Student Comments</h4></button>
<div class="comments-list">
     <% @event.responses.each do |response| %>
        <div class="comment name-box">
            <p><%= response.comment %></p>
            <% if response.name == "" %>
                <p>Anonymous
            <% else %>
                <p><%= response.name %>
            <% end %>
            (Comfort: <%= response.comfort_score %>, Completeness: <%= response.completeness_score %>)</p>
        </div>
    <% end %>
</div>
<script>
    $(".graph").hide();

</script>
