<h2> Add Response </h2>
<%= form_for [@event, @response] do |f|  %>
    <div>
        <p><%= label :comfort_score, "How comfortable are you with the skills in this assignment?" %></p>
        <%= f.radio_button :comfort_score, 1 %> 1
        <%= f.radio_button :comfort_score, 2 %> 2
        <%= f.radio_button :comfort_score, 3 %> 3
        <%= f.radio_button :comfort_score, 4 %> 4
        <%= f.radio_button :comfort_score, 5 %> 5
    </div>
    <div>
        <p><%= label_tag :completeness_score, "How complete is this assignment?" %></p>
        <%= f.radio_button :completeness_score, 1 %> 1
        <%= f.radio_button :completeness_score, 2 %> 2
        <%= f.radio_button :completeness_score, 3 %> 3
        <%= f.radio_button :completeness_score, 4 %> 4
        <%= f.radio_button :completeness_score, 5 %> 5
    </div>
    <%= f.hidden_field :event_id, :value => @event.id %>

    <p>Name</p>
    <%= f.text_field :name %>
    <p>
    <%= f.submit 'Submit' %>
    </p>
<% end %>
