<h2> Add Response </h2>

<p>Comfort</p>
<%= radio_button_tag(:comfort, 1) %> 1
<%= radio_button_tag(:comfort, 2) %> 2
<%= radio_button_tag(:comfort, 3) %> 3
<%= radio_button_tag(:comfort, 4) %> 4
<%= radio_button_tag(:comfort, 5) %> 5

<p>Completeness</p>
<%= radio_button_tag(:completeness, 1) %> 1
<%= radio_button_tag(:completeness, 2) %> 2
<%= radio_button_tag(:completeness, 3) %> 3
<%= radio_button_tag(:completeness, 4) %> 4
<%= radio_button_tag(:completeness, 5) %> 5
